#content{
  block-size: 1000px;
  writing-mode: horizontal-tb;
}
table {
  width: 100%;
 max-width: 2480px;
  max-height: 400px;
}

th  {
  font-family : "Times New Roman", Times, serif;
  color: #9e9e9e;
  size: 5px;
  writing-mode: horizontal-tb;
  text-overflow: clip;
}
tr  {
  font-family : "Times New Roman", Times, serif;
  color: #9e9e9e;
  size: 5px;
  writing-mode: horizontal-tb;
}
td{
  text-overflow: "-";
}
.example-full-width {
  width: 100%;
}
.container{
  height: 400px;
  width: 700px;
}
div {
  overflow-y: scroll;
}
h3{
  font-family : "Times New Roman", Times, serif;
  color: #1a237e;
}
table td{
 /* width: auto;
  overflow: hidden;
  word-wrap: break-word;*/
}
tfoot{
  border: 2px solid #555;
  border-collapse: collapse;
}
