<div class="main-div">
  <div *ngIf="editMode; else newAchat">
    <div class="">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Ajout detail de la facture</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="autreAchatTravauxForm" (ngSubmit)="onSubmit()" *ngIf="autreAchatTravauxForm">
          <div class="well">
              <div class="achat">
                <div class="row">
                  <div formArrayName="detailAutreAchatTravauxInit">
                    <div *ngFor="let itemrow of autreAchatTravauxForm.controls.detailAutreAchatTravauxInit['controls']; let i=index"
                         [formGroupName]="i">


                    <mat-form-field >
                        <input  matInput placeholder="Materiel" formControlName="libelleMateriaux">
                      </mat-form-field>
                      <mat-form-field>
                        <input #value matInput type="number" placeholder="Prix unitaire" formControlName="prixUnitaire">
                      </mat-form-field>
                      <mat-form-field>
                        <input  #quantite type="number" matInput placeholder="quantite" formControlName="quantite">
                      </mat-form-field>
                      <mat-form-field>
                        <input  #quantite type="number" matInput placeholder="Frais" formControlName="frais">
                      </mat-form-field>
                      <mat-label>
                        <input matInput #montant  placeholder="{{montant}}"  (click)="getCalcul()">
                      </mat-label>
                    </div>
                  </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <button mat-raised-button class="boutonEnr" type="submit"> Modifier
                  </button>
                  <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
                  </button>
                </div>
              </div>


          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <ng-template #newAchat>
    <form [formGroup]="autreAchatTravauxForm" (ngSubmit)="onSubmit()"  *ngIf="autreAchatTravauxForm">
      <div class="well">
        <mat-card>
          <div class="achat">
            <div class="row">
              <div formArrayName="detailAutreAchatTravaux">
                <div *ngFor="let itemrow of autreAchatTravauxForm.controls.detailAutreAchatTravaux['controls']; let i=index"
                     [formGroupName]="i">

                  <mat-form-field formGroupName="materiaux">
                    <input  matInput placeholder="Materiel" formControlName="libelleMateriaux">
                  </mat-form-field>
                  <mat-form-field>
                    <input #value matInput type="number" placeholder="Prix unitaire" formControlName="prixUnitaire">
                  </mat-form-field>
                  <mat-form-field>
                    <input  #quantite type="number" matInput placeholder="quantite" formControlName="quantite">
                  </mat-form-field>

                  <mat-label>
                    <input matInput #montant  placeholder="{{montant}}"  (click)="getCalcul()">
                  </mat-label>
                </div>
              </div>
            </div>
            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <button mat-raised-button class="boutonEnr" type="submit"> Modifier
              </button>
              <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
              </button>
            </div>
          </div>

        </mat-card>

      </div>
    </form>
  </ng-template>
</div>


