<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="">
            Kamssa
          </a>
        </li>
        <li>
          <a href="">
            A notre sujet
          </a>
        </li>
        <li>
          <a href="">
            Nos réalisations
          </a>
        </li>
        <li>
          <a href="">
            Licenses kamssa Group
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy;
        {{test | date: 'yyyy'}}, Créer par
        <a href="" target="_blank">kamssa IA.</a>Une partie de l'intelligence artificielle.
      </div>
    </nav>


  </div>
</footer>
