.example-headers-align  {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
}

.example-card {
  max-width: 400px;
}
.site{
  color: #cc2127;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
