<div class="row">
<div *ngIf="travaux">
  <button mat-button color="primary" (click)="onCumulDepense(travaux.id)">Ouvrir dépense</button>
<!--
  <button mat-button color="primary" (click)="onDate()">Ouvrir date</button>
-->

  <mat-accordion class="example-headers-align" >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>

        <br>
        <mat-panel-title class="info">
          <h3>Les informations sur le projet : {{travaux.site.nomChantier}}</h3>
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'Fermer' : 'Ouvrir'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3 class="site">Projet : {{travaux.site.nomChantier}}</h3>
      <h3 class="site">Site : {{travaux.libelle}}</h3>
      <h3 class="site">Numero du bon  : {{travaux.numeroBon}}</h3>
      <h3 class="site">Budget : {{travaux.budget | number}} CFA</h3>
      <h3 class="site">Debousser Sec : {{travaux.debousserSec|number}} CFA</h3>
      <h3 class="site">Acompte : {{travaux.accompte|number}} CFA</h3>
      <h3 class="site"> Solde : {{travaux.reste| number}} CFA</h3>
      <h3 class="site">Dépense : {{travaux.total| number}} CFA</h3>
      <h3 class="site">Evolution : {{travaux.percent | number}} %</h3>
      <h3 class="site">Debut des travaux : {{travaux.date | date: 'dd/MM/yyyy'}}</h3>
      <h3 class="site">Date de livraison :  {{travaux.dateLivraison | date: 'dd/MM/yyyy'}} </h3>
      <hr>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button class="boutonEnr"  (click)="update(travaux.id)"> Modifier
        </button>
        <div class="action-3">
          <div class="" matTooltip="créer un nouvau chantier" matTooltipPosition="right">
            <a mat-mini-fab (click)="add(travaux.site.id)" color="warn">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button (click)="achat()" color="accent">Retrait du stock</button>
      <button mat-button (click)="autreachat()" color="accent">Ajout achat</button>
      <button mat-button (click)="location()" color="accent">Ajout location</button>
      <button  mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu = "matMenu" yPosition="above">
        <button mat-menu-item (click)="loyer()">
          <span>Ajout loyer</span>
        </button>
      <button mat-menu-item (click)="ouvre()">
        <span>Ajout main d'ouvre</span>
      </button>
    <button mat-menu-item (click)="transport()">
        <span>Ajout transport</span>
      </button>
    <button mat-menu-item (click)="autre()">
        <span>Ajout Caisse</span>
      </button>
      </mat-menu>
    </div>
  <div>
    <app-edit-achat-travaux travauxId="{{travauxId}}" *ngIf="edit==0" (change)="montantChange($event)"></app-edit-achat-travaux>
    <app-edit-location-travaux  travauxId="{{travauxId}}" *ngIf="edit==2" (change)="montantChange($event)"></app-edit-location-travaux>
    <app-edit-mainouvre-travaux travauxId="{{travauxId}}" *ngIf="edit==3" (change)="montantChange($event)"></app-edit-mainouvre-travaux>
    <app-detail-loyer travauxId="{{travauxId}}" *ngIf="edit==4" (change)="montantChange($event)"></app-detail-loyer>
    <app-edit-transp-travaux travauxId="{{travauxId}}" *ngIf="edit==5" (change)="montantChange($event)"></app-edit-transp-travaux>
    <app-edit-autredepense-travaux travauxId="{{travauxId}}" *ngIf="edit==6" (change)="montantChange($event)"></app-edit-autredepense-travaux>
    <app-autre-achat-travaux travauxId="{{travauxId}}" *ngIf="edit==7" (change)="montantChange($event)"></app-autre-achat-travaux>

  </div>
</div>
</div>

