<div class="main-div">
  <div *ngIf="editMode; else new">
    <mat-card>Modifier Chantier</mat-card>
    <br>
    <div class="container">
      <form [formGroup]="createSiteForm" (ngSubmit)="onSubmit(createSiteForm.value)" *ngIf="createSiteForm">
        <ul class="flex-outer">
          <li formGroupName="ville">
            <label for="nom" class="lelabel">Le nom de ville</label>
            <input type="text" placeholder="Entrer le nom de la ville" formControlName="nom">
          </li>
          <li formGroupName="site">
            <label for="libelle" class="lelabel">Le nom du site</label>
            <input type="text" id="libelle" placeholder="Enter le nom du chantier" formControlName="nomChantier">
          </li>
          <li>
            <label for="budget" class="lelabel">Le budget</label>
            <input type="text" id="budget" placeholder="Enter le budget" formControlName="budget">
          </li>
          <li>
            <label for="accompte" class="lelabel">L'accompte</label>
            <input type="text" id="accompte" placeholder="Enter l'accompte" formControlName="accompte">
          </li>

          <li>
            <button type="submit">Enregistrer</button>
          </li>
        </ul>
      </form>
    </div>

  </div>
  <ng-template #new>

    <br>
    <div class="well">
      <div class="container">
        <form class="example-form" [formGroup]="createSiteForm" autocomplete="off" novalidate (ngSubmit)="createSiteChantier(createSiteForm.value)" fxLayout="column wrap"
              fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="createSiteForm">

          <mat-card-subtitle>	NOUVEAU PROJET</mat-card-subtitle>
          <mat-card-content>
            <div>
             <!-- <mat-form-field class="example-full-width" formGroupName="site">
                <input matInput type="text" placeholder="Nom du projet" formControlName="nomChantier" id="nomChantier">
                <mat-hint align="end">Vous devez remplir ce champs!</mat-hint>
                <mat-error *ngIf="hasError('nomChantier', 'required')">Champ obligatoire</mat-error>
              </mat-form-field>-->
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Nom du projet" formControlName="libelle" id="libelle">
                <mat-hint align="end">Vous devez remplir ce champs!</mat-hint>
                <mat-error *ngIf="hasError('libelle', 'required')">Champ obligatoire</mat-error>
              </mat-form-field>
        <!-- <mat-form-field class="example-full-width" formGroupName="ville">
              <input matInput type="text" placeholder="Nom de la ville" formControlName="nom" id="nom">
              <mat-hint align="end">Vous devez remplir ce champs!</mat-hint>
              <mat-error *ngIf="hasError('nom', 'required')">Champ obligatoire</mat-error>
            </mat-form-field>-->
            </div>


            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Numero du bon" formControlName="numeroBon" id="numeroBon">
              <mat-hint align="end">Vous devez remplir ce champs!</mat-hint>
              <mat-error *ngIf="hasError('numeroBon', 'required')">Champ obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Budget" formControlName="budget" id="budget">
              <mat-hint align="end">Vous devez remplir ce champs!</mat-hint>
              <mat-error *ngIf="hasError('budget', 'required')">Champ obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Acompte" formControlName="accompte" id="accompte">
              <mat-hint align="end">Vous devez remplir ce champs!</mat-hint>
              <mat-error *ngIf="hasError('accompte', 'required')">Champ obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="Choisir la date de debut du chantier" formControlName="date" id="date"
                     readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickers" placeholder="Choisir la date de livraison" formControlName="dateLivraison" id="dateL"
                     readonly (click)="pickers.open()">
              <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
              <mat-datepicker #pickers></mat-datepicker>
            </mat-form-field>

            <div>
              <mat-form-field class="example-full-width" formGroupName="client">
                <input matInput type="text" placeholder="Client" formControlName="nom" id="nom">

              </mat-form-field>
            </div>
            <br>
            <mat-card-subtitle>	Informations complémentaires</mat-card-subtitle>
            <div>
              <div formArrayName="ville">
                <div *ngFor="let v of createSiteForm.controls.ville['controls']; let i=index">
                  <div [formGroupName]="i">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Ville" formControlName="nom" id="ville">

                    </mat-form-field>
                    <button mat-fab color="accent" aria-label="Example icon button with a delete icon"
                            (click)="removeVille(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <mat-action-row>
                  <button type="button" mat-raised-button color="warn" (click)="addVille()">
                    <span class="material-icons">add</span>
                  </button>
                </mat-action-row>
              </div>

              <br>

              <div formArrayName="situationGeographique">
                <div *ngFor="let s of createSiteForm.controls.situationGeographique['controls']; let i=index" [formGroupName]="i">
                  <div>

                  <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Site" formControlName="libelle">

                    </mat-form-field>
                    <button mat-fab color="accent" aria-label="Example icon button with a delete icon"
                            (click)="removeSituationGeographique(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <mat-action-row>
                  <button type="button" mat-raised-button color="warn" (click)="addSituationGeographique()">
                    <span class="material-icons">add</span>
                  </button>
                </mat-action-row>
              </div>


            </div>
            <div>

              <br>

            </div>
          </mat-card-content>
          <mat-card-actions>
            <mat-card-actions align="center">
              <button mat-raised-button color="primary" [disabled]="!createSiteForm.valid">Enregistrer</button>
              <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
          </mat-card-actions>
        </form>

      </div>

    </div>
  </ng-template>


</div>


