<!--
<mat-toolbar>
  <span>{{stockService.form.controls['id'].value?"Modifier le stock":"Nouveau stock"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="stockService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field style="position: relative; margin-top:20px;" class="example-full-width" appearance="fill">
          <mat-label >Selection un article</mat-label>
          <mat-select (selectionChange)="greetMat($event)">
            <mat-option *ngFor="let d of materiels" [value]="d.id">
              {{d.libelle}} - {{d.prixUnitaire}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input  matInput formControlName="quantite"  placeholder="Quantite">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="stockService.form.invalid">Valider</button>
          <button mat-raised-button color="warn" (click)="onClear()">Effacer</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>



-->
