<div class="main-content">
  <div class="container-fluid">
    <div>
      <div *ngIf="error" class="btn btn-danger">{{error}}
      </div>
    </div>
    <div class="row" *ngIf="edit">
      <div class="col-md-12" *ngIf="listData">

        <div class="search-div">
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)"  #input>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8" >
          <mat-table [dataSource]="listData"  matSort>

            <ng-container matColumnDef="projet">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Site</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element?.libelle}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="client">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Nom et Prénom</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element?.client?.nomComplet}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element?.client?.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="telephone">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Téléphone</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element?.client?.telephone}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="onVersement(row)"><mat-icon>euro_symbol</mat-icon></button>
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Patientez svp ! Chargement des données...
              </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Aucune donnée enregistrée.
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </div>
  </div>
</div>
