<div *ngIf="state">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Filtrer</mat-label>
      <input matInput (keyup)="applyFilter($event)"  #input>
    </mat-form-field>
  </div>
  <br>
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="nomComplet">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Nom et prénom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nomComplet}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="service">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Departement</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.departement.libelle}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="activer">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Activer

      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.actevated" (change)="onEmployeToggleActiver($event, row)"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="suspendu">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Suspendu</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.suspendu" (change)="onEmployeToggleSuspendu($event, row)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"  >
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item   (click)="onEdit(row)">Modifier</button>
          <button mat-menu-item   (click)="onPermit(row)">Permission</button>
          <button mat-menu-item    (click)="onDelete(row)">Supprimer</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Patientez svp ! Chargement des données...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Aucune donnée enregistrée.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">

    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
