<div *ngIf="projet">
  <div class="main-content">
    <a routerLink="/etatProjet">
      <mat-icon>fast_rewind</mat-icon>
    </a>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <mat-card>

            <mat-card-subtitle class = "sub">Site : {{projet.libelle}}</mat-card-subtitle>
            <ul>
              <li>
                <button mat-button color="primary" class="site">Numero du bon  : {{projet.numeroBon}}</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Budget : {{projet.budget|number}} CFA</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Debousser Sec : {{projet.debousserSec | number}} CFA</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Acompte : {{projet.accompte|number}} CFA</button>
              </li>
              <li>
                <button mat-button color="warn"> <span>Solde :</span>  {{projet.reste | number}} CFA</button>
              </li>
              <li>
                <button mat-button color="warn" class="site">Dépense : {{projet.total| number}} CFA</button>
              </li>
              <li>
                <button mat-button color="warn" class="site">Evolution : {{projet.percent | number}} %</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Debut des travaux : {{projet.date | date: 'dd/MM/yyyy'}}</button>
              </li>
              <li>
                <button mat-button color="primary"  class="site">Date de livraison :  {{projet.dateLivraison | date: 'dd/MM/yyyy'}} </button>
              </li>
            </ul>
            <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
            <mat-card-actions>
              <button mat-flat-button (click)="update(projet.id)">Modifier</button>
              <button mat-flat-button (click)="updateEvolution(projet.id)">Mise à jour</button>
              <button mat-flat-button  (click)="cumulDepense(projet.id)">Voir dépense </button>
              <button mat-flat-button  (click)="cumulDepenseDate(projet.id)">Voir dépense par date</button>
            </mat-card-actions>
            </div>
          </mat-card>
          <hr>
          <div  fxLayout="row" fxLayoutAlign="space-around center">
            <button  mat-button color="primary" (click)="onAchat(projet)">Liste Achat</button>
            <button  mat-button color="primary" (click)="onLocation(projet)">Liste Location</button>
            <button  mat-button color="primary" (click)="onLoyer(projet)">Liste Loyer</button>
            <button  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu = "matMenu" yPosition="above">
              <button mat-menu-item (click)="onOeuvre(projet)">
                <span>Liste Main d'oeuvre</span>
              </button>
              <button mat-menu-item (click)="onTransport(projet)">
                <span>Liste Transport</span>
              </button>
              <button mat-menu-item (click)="onAutres(projet)">
                <span>Liste Caisse</span>
              </button>
            </mat-menu>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>
