<div *ngIf="travaux">
  <div class="main-content">
    <a routerLink="/etatProjet">
      <mat-icon>fast_rewind</mat-icon>
    </a>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <mat-card>
            <mat-card-title class="tilte">Projet : {{travaux.site.nomChantier}}</mat-card-title>

            <mat-card-subtitle class = "sub">Site : {{travaux.libelle}}</mat-card-subtitle>
            <ul>
              <li>
                <button mat-button color="primary" class="site">Numero du bon  : {{travaux.numeroBon}}</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Budget : {{travaux.budget|number}} CFA</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Debousser Sec : {{travaux.debousserSec | number}} CFA</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Acompte : {{travaux.accompte|number}} CFA</button>
              </li>
              <li>
                <button mat-button color="warn"> <span>Solde :</span>  {{travaux.reste | number}} CFA</button>
              </li>
              <li>
                <button mat-button color="warn" class="site">Dépense : {{travaux.total| number}} CFA</button>
              </li>
              <li>
                <button mat-button color="warn" class="site">Evolution : {{travaux.percent | number}} %</button>
              </li>
              <li>
                <button mat-button color="primary" class="site">Debut des travaux : {{travaux.date | date: 'dd/MM/yyyy'}}</button>
              </li>
              <li>
                <button mat-button color="primary"  class="site">Date de livraison :  {{travaux.dateLivraison | date: 'dd/MM/yyyy'}} </button>
              </li>
            </ul>
            <mat-card-actions>
              <button mat-button (click)="update(travaux.id)">Modifier</button>
              <button mat-button (click)="updateEvolution(travaux.id)">Mise à jour</button>
            </mat-card-actions>
          </mat-card>
          <hr>
          <div  fxLayout="row" fxLayoutAlign="space-around center">
            <button  mat-button color="primary" (click)="onAchat(travaux)">Liste Achat</button>
            <button  mat-button color="primary" (click)="onLocation(travaux)">Liste Location</button>
            <button  mat-button color="primary" (click)="onLoyer(travaux)">Liste Loyer</button>
            <button  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu = "matMenu" yPosition="above">
              <button mat-menu-item (click)="onOeuvre(travaux)">
                <span>Liste Main d'oeuvre</span>
              </button>
              <button mat-menu-item (click)="onTransport(travaux)">
                <span>Liste Transport</span>
              </button>
              <button mat-menu-item (click)="onAutres(travaux)">
                <span>Liste Caisse</span>
              </button>
            </mat-menu>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>
