.example-headers-align  {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
}

.example-card {
  max-width: 400px;
}
.main-content{
  background-color: bisque;
}
.solde{
  color: #1a237e;
}
.sub{
  color: black;
}
.tilte{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #000000;
}
