<div class="main-content" >
  <div class="row">
    <div class="col-md-8">
      <app-dep-nav-bar></app-dep-nav-bar>
  <br>
  <div class="container-fluid">
      <div class="mat-elevation-z10" >
        <ng-container *ngIf="departementsState$ | async as state" [ngSwitch]="state.dataState">
          <ng-container *ngSwitchCase="departementStateEnum.INITIAL">
            <div class="p-2"> Initialisation</div>
          </ng-container>
          <ng-container *ngSwitchCase="departementStateEnum.LOADING">
            <div class="p-2"> Chargement...</div>
          </ng-container>
          <ng-container *ngSwitchCase="departementStateEnum.ERROR">
            <div class="p-2 text-danger"> {{state.errorMessage}}</div>
          </ng-container>
          <ng-container *ngSwitchCase="departementStateEnum.LOADED" class="p-4">
            <app-list-dep [state]="state"></app-list-dep>
          </ng-container>
        </ng-container>
      </div>
</div>
</div>
  </div>
</div>
