<div class="main-content" >
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <div class="search-div">
          <button mat-raised-button  (click)="onCreate($event)">
            <mat-icon>add</mat-icon>Stock
          </button>
          <span class="fill-remaining-space"></span>
          <a class="btn-dialog-close" mat-stroked-button routerLink="/stock">
            <mat-icon>undo</mat-icon></a>
          <span style="color: blue">{{array?.length}} ligne(s)</span>


          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Recherche..." autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8" *ngIf="ROLE_MANAGER">
          <mat-table [dataSource]="listData"  matSort>
            <ng-container matColumnDef="libelle">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Libelle</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element?.libelle}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="quantite">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Quantite</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.quantite}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Total</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element?.montant | number}} F CFA</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">

              <th mat-header-cell *matHeaderCellDef></th>
              <mat-cell *matCellDef="let row"  >
                <button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item   (click)="onEdit(row)">Modifier</button>
                  <button mat-menu-item   (click)="retraitStock(row)">Retirer du stock</button>
                  <button mat-menu-item   (click)="onArticle(row)"
                          >Voir les articles</button>
                  <button mat-menu-item    (click)="onDelete(row)">Supprimer</button>
                </mat-menu>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Patientez svp ! Chargement des données...
              </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Aucune donnée enregistrée.
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="error" class="btn login_btn">{{error}}</div>

      </div>
    </div>
  </div>
</div>
