
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <span>Modifier mes informations</span>
          </div>
          <div class="card-body">
            <form [formGroup]="updateInformationForm"  (ngSubmit)="onSubmit()" novalidate *ngIf="updateInformationForm">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nom" formControlName="nom">

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Poste occupé" formControlName="fonction">

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input readonly type="text" class="form-control" placeholder="Login" formControlName="email">

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Mot de passe" formControlName="password">


              </div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <button [disabled]="loading" class="btn btn-primary" type="submit" name="button" class="btn login_btn">
                  <span  *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Valider
                </button>
                <button [disabled]="loading" class="btn btn-danger" type="submit" name="button" class="btn login_btn">
                  Annuler
                </button>
              </div>
              <div *ngIf="error" class="btn login_btn">{{error}}</div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
