<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Gestion banque</h4>
          </div>
          <div class="card-body">

            <div class="example-button-row">
                <button mat-button color="accent" (click)="versement()"> Liste des versements</button>

                <button mat-button color="accent" (click)="retrait()"> Liste des retraits</button>

                <button mat-button color="accent" (click)="virement()"> Liste des virements</button>
                <mat-divider></mat-divider>
              <button mat-button color="primary" (click)="openVersement()">Effectué un versement</button>
                <button mat-button color="primary" (click)="openRetrait()">Effectué un retrait</button>
              <button mat-button color="primary" (click)="openVirement()">Effectué un virement</button>

              </div>

            <mat-divider></mat-divider>
            <br>
            <!--<div>
              <app-list-operation *ngIf="edit==0"></app-list-operation>
              <app-retrait *ngIf="edit==1"></app-retrait>
              <app-versement *ngIf="edit==2"></app-versement>
            </div>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

