<div *ngIf="projet">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Les informations sur le chantier : {{projet.libelle}}</p>
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'Fermer' : 'Ouvrir'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3 class="site">Projet : {{projet.libelle}}</h3>
      <h3 class="site">Site : {{projet.libelle}}</h3>
      <h3 class="site">Numero du bon  : {{projet.numeroBon}}</h3>
      <h3 class="site">Budget : {{projet.budget|number}} CFA</h3>
      <h3 class="site">Debousser Sec : {{projet.debousserSec|number}} CFA</h3>
      <h3 class="site">Acompte : {{projet.accompte|number}} CFA</h3>
      <h3 class="site"> Solde : {{projet.reste| number}} CFA</h3>
      <h3 class="site">Dépense : {{projet.total| number}} CFA</h3>
      <h3 class="site">Evolution : {{projet.percent | number}} %</h3>
      <h3 class="site">Debut des travaux : {{projet.date | date: 'dd/MM/yyyy'}}</h3>
      <h3 class="site">Date de livraison :  {{projet.dateLivraison | date: 'dd/MM/yyyy'}} </h3>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <mat-divider></mat-divider>
  <div class="div-second">
    <mat-list>
      <mat-list-item>
        <button mat-button (click)="autreAchat()" color="accent"> Voir la liste des achats</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary" (click)="onCumulDepense(projet.id)">Ouvrir dépense</button>
      </mat-list-item>

    </mat-list>

  </div>
  <div>
    <app-list-autre-achat travauxId="{{projetId}}" *ngIf="edit==7"></app-list-autre-achat>
  </div>
</div>
<div>
</div>
