<div class="main-div">
  <div *ngIf="editMode; else newAchat">
    <div class="">
      <mat-card>
        <mat-card-header>
          <mat-card-title> modifier un achat  pour les travaux</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="autreAchatTravauxForm" (ngSubmit)="onSubmit()" novalidate *ngIf="autreAchatTravauxForm">
          <div class="well">
            <mat-card>
              <div class="achat">
                <div class="row">
                  <div>
                    <div>

                      <div class="row">
                        <div class="col-md-8">
                          <div class="parent">
                            <mat-form-field>
                              <input  matInput type="text" placeholder="Numéro facture" formControlName="numeroFacture" name="numeroFacture">
                            </mat-form-field>
                            <mat-form-field>
                              <input  matInput type="text" placeholder="Libelle" formControlName="libelle" name="libelle">
                            </mat-form-field>
                            <mat-form-field>
                              <input #value matInput type="number" placeholder="Montant" formControlName="montant">
                            </mat-form-field>
                            <mat-form-field>
                              <input  #fournisseur type="text" matInput placeholder="Fournisseur" formControlName="fournisseur">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <button mat-raised-button class="boutonEnr" type="submit"> Modifier
                  </button>
                  <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
                  </button>
                </div>
              </div>

            </mat-card>

          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <ng-template #newAchat>
    <form class="example-form" [formGroup]="autreAchatTravauxForm" (ngSubmit)="onSubmit()"  *ngIf="autreAchatTravauxForm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-white" href="#">Achat d'article</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="navbar-form" #f="ngForm" (submit)="onSearch(f.value)">
            <div class="input-group no-border">
              <input type="text" ngModel name="keyword" class="form-control" placeholder="Recherche...">
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
        </div>
      </nav>
      <br>
      <br>
      <div>

      </div>
          <div class="row">
            <div class="col-md-8">
              <div class="parent">
                <mat-form-field class="example-full-width">
                  <input #dat matInput [matDatepicker]="picker"  placeholder="Date" formControlName="date" id="date"
                         readonly (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input  matInput type="text" placeholder="Numéro facture" formControlName="numeroFacture" name="numeroFacture">
                </mat-form-field>
                <div>
                  <div class="chip-list-wrapper">
                    <mat-chip-list #chipList>
                      <ng-container *ngFor="let select of selectData">
                        <mat-chip class="cardinal-colors" (click)="removeChip(select)">
                          {{ select.libelle }}
                          <mat-icon class="mat-chip-remove">cancel</mat-icon>
                        </mat-chip>
                      </ng-container>
                    </mat-chip-list>
                  </div>

                  <mat-form-field class="full-width">
                    <input matInput type="text"
                           [placeholder]="placeholder"
                           [matAutocomplete]="auto"
                           [formControl]="selectControl" formControlName="libelle">
                  </mat-form-field>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let data of filteredData | async">
                      <div (click)="optionClicked($event, data)">
                        <mat-checkbox [checked]="data.selected"
                                      (change)="toggleSelection(data)"
                                      (click)="$event.stopPropagation()">
                          {{ data.libelle }}
                        </mat-checkbox>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </div>


                <mat-form-field>
                  <input #value matInput type="number" placeholder="Montant" formControlName="montant">
                </mat-form-field>
                <mat-form-field>
                  <input  #fournisseur type="text" matInput placeholder="Fournisseur" formControlName="fournisseur">
                </mat-form-field>
                </div>
                </div>
          </div>


          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!addRow">
            <button mat-raised-button class="boutonEnr" type="submit" [disabled]="!autreAchatTravauxForm.valid"> Enregistrer
            </button>
            <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
            </button>

          </div>
      <button mat-raised-button class="boutonAnn" type="button" type="reset" *ngIf="addRow" (click)="addDetail()">Ajouter detail facture
      </button>
    </form>

  </ng-template>
</div>


