<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="">

          <br>
          <div class="card-header card-header-danger" style="background-color: #d50000">
            <h4 class="card-title" routerLink="active" style="color: #FFFFFF">Gestion technique </h4>
          </div>
          <div class="card-body">
            <div class="input-group no-border">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Filtre" #searchbox (keyup)="search(searchbox.value)">
              </mat-form-field>
            </div>
            <div>
              <div>
                <div class="listes">
                  <!--
                                    <span>{{travaux?.length}} projet(s)</span>
                  -->
                  <div class="item">
                    <div class="">
                      <div>

                        <div>
                          <div class="row">
                            <div class="col-md-8">
                              <!--<mat-form-field>
                                <input  matInput #searchbox (keyup)="search(searchbox.value)" placeholder="Rechercher un projet">

                              </mat-form-field>-->

                            </div>
                          </div>
                          <div >
                            <ul  *ngFor="let tr of oTravaux | async"  class="list-group">
                              <a class="list-group-item  clearfix"
                                 [routerLink]="[tr.id]"
                                 (click)="onSelect(tr)">
                                  <span class="pull-left"  >
                                    <p >{{tr.libelle}}</p>
                                    <p> {{tr.budget | number}}</p>
                                  </span>
                              </a>
                              <div fxLayout="row" fxLayoutAlign="space-around center">
                                <button  mat-button color="primary" (click)="onImages(tr.id)">Voir les images</button>
                              </div>

                              <mat-divider></mat-divider>
                            </ul>
                          </div>
                        </div>


                      </div>
                      <div>

                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action">
                      <div class="action-1">
                        <a mat-mini-fab matTooltip="Accueil appli" routerLink="/finance"
                           matTooltipPosition="before" color="primary">
                          <mat-icon>home</mat-icon>
                        </a>
                      </div>

                      <div class="action-2">
                        <div>
                          <!--<a mat-mini-fab color="primary" matTooltip="Accueil des projets" routerLink="/finance"
                             matTooltipPosition="after">
                            <mat-icon>face</mat-icon>
                          </a>-->
                        </div>
                      </div>
                      <div class="action-3">
                        <div class="" matTooltip="créer un nouvau chantier" matTooltipPosition="right">
                          <a mat-mini-fab routerLink="creer" color="warn">
                            <mat-icon>add</mat-icon>
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="item">
                    <div class="editer">
                      <div class="edit-1">
                        <router-outlet></router-outlet>
                      </div>
                      <div class="edit-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

