<div class="main-div">
  <form class="example-form"  [formGroup]="versementForm" (ngSubmit)="onSubmit()" *ngIf="versementForm">
      <mat-card> Effectuer un nouveau versement</mat-card>

         <div>
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" id="date"
                         readonly (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Montant" formControlName="montantVerse">
                </mat-form-field>

              </div>

    <hr>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button class="boutonEnr" type="submit" [disabled]="!versementForm.valid"> Enregistrer
        </button>
        <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
        </button>




      </div>
    </form>

</div>


