<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div *ngIf="error" class="btn btn-danger">{{error}}</div>

        <div class="card"  *ngIf="editer">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Gestion Caisse</h4>
            <mat-button-toggle-group #group="matButtonToggleGroup">

              <mat-button-toggle value="center" aria-label="Text align center" (click)="openDialog()">
                <mat-icon>format_align_center</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>

          </div>
          <div class="card-body">

            <mat-divider></mat-divider>
            <br>
            <div>
              <app-finance *ngIf="edit==0"></app-finance>
              <app-list-caisse *ngIf="edit==1"></app-list-caisse>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

