<div class="main-div">
  <div>
    <mat-card>Modifier Chantier</mat-card>
    <br>
    <div class="container">
      <form [formGroup]="tForm" (ngSubmit)="onSubmit()" *ngIf="tForm">

         <mat-form-field>
        <input matInput type="text" placeholder="Nom du projet" formControlName="libelle"/>
      </mat-form-field>
        <mat-form-field >
          <input matInput type="text" placeholder="Numero de Bon" formControlName="numeroBon"/>
        </mat-form-field>
        <mat-form-field >
          <input matInput type="text" placeholder="Montant facture" formControlName="montantFacture"/>
        </mat-form-field>
        <mat-form-field >
          <input matInput type="text" placeholder="Accompte" formControlName="accompte"/>
        </mat-form-field>
        <!--<mat-form-field>
          <input matInput type="text" placeholder="Déboursé Sec" formControlName="debousserSec"/>
        </mat-form-field>-->
        <mat-form-field>
          <input matInput type="text" placeholder="Depense" formControlName="total"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="reste" formControlName="reste"/>
        </mat-form-field>
        <mat-form-field formGroupName="client">
          <input matInput type="text" placeholder="Client" formControlName="libelle"/>
        </mat-form-field>
        <button type="submit" class="btn btn-success">
          Valider
        </button>
      </form>
    </div>

  </div>



</div>


